/*General*/
  #mypage {
    display: none; }

  #loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;/*
    width: 150px;
    height: 150px;*/
    margin: -75px 0 0 -75px;/*
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;*/ }

  .row-header {
    margin: 0px 0px;
    padding: 0px 0px;
    /*padding-bottom: 10px;*/ }

  .row-content {
    margin: 0px auto;
    padding: 50px 0px;
    /*border-bottom: 1px ridge;*/
    min-height: 400px; }

  .row-player {
    margin: 0px auto;
    max-height: 20px; }

  .footer {
    background-color: #D1C4E9;
    margin: 0px auto;
    padding: 20px 0px; }

  body {
    padding: 50px 0px 0px 0px;
    z-index: 0; 
    background-image: url("/img/background/field.jpeg");
    /*background-color: white;*/
    background-attachment: fixed; 
    background-position: center;
    background-size: cover;
    color: white; }

/* Navbar */
  #plhead {
    font-size: 40px; }

  /* Team Logos */
    #teamLogos {
      margin-top: 10px;
      margin-bottom: -55px; }

    #team-logos li {
      display: inline; }

    #team-logos {
      /*width: 100%;*/
      height: 100px;
      white-space: nowrap; }
      
    .image:hover {
      transform: scale(1.5,1.5); }

/* Home Page */
  .image {
    height: 45px;
    width: 45px;
    padding: 5px;
    position: relative; }

  #mySearch {
    padding: 20px 0px; 
    border-bottom: 1px ridge; }

  #leagueTable {
    width: 100%; }

  #positions {
    min-width: 100px;
    width: 100%;
    background: floralwhite; 
    color: black;
    counter-reset: rowNumber - 1; }

  td img {
    height: 20px;
    width: 35px;
    padding-right: 5px; }

  .clubs, td#col1 {
    width: 300px;
    text-align: left; }

  .pos, td#col { margin-right: 20px; }

  tr td:first-child::before {
    min-width: 1em;
    margin-right: 0.5em; }

  td:first-child::after {
    text-align: left;
  }

  td, th {
    width: 50px;
    text-align: center;
    margin: 0px auto;
    padding: 2px; }

  td img {
    height: 27px; }

  tr {
    height: 50px;
    border-bottom: 5px ridge rgba(248,248,248,0.4); }

  thead tr {
    background-color: lightblue;
    height: 60px; 
    border-bottom: none;
  }

  #goals .card-img-id, #assists .card-img-id {
    max-height: 150px;
    overflow: hidden; }

  #goals img, #assists img {
    height: 220px; }

  .arrow-up {
    width: 0; 
    height: 0; 
    display: inline-block;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #00ff00;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 7px; }

  .arrow-down {
    display: inline-block;
    width: 0px; 
    height: 0px; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #f00;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 7px; }

  .circle {
    width: 8px;
    height: 8px;
    display: inline-block;
    background: gray;
    border-radius: 50px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 7px; }

/* Team Page */
  .jumbotron {
    padding: 0px;
    background: transparent; }

  #info {
    width: 100%; }

  #team-badge {
    max-width: 100%;
    width: auto;
    height: auto; }

  #teaminfo {
    max-width: 100%;
    width: auto;
    margin: auto; }

  .stadium-icon {
    filter: invert(100%);
    height: 15px; }

  #team-head {
    margin-top: auto;
    margin-bottom: auto; }

  #pitch {
    padding: 0px;
    height: 100%; }

  #teampitch { 
    height: 100%;
    width: 100%; 
    border-radius: 50% 0% 50% 0%; }

  #tabnav { 
    padding: 0px; }

  .nav-item {
    background-color: rgba(248,248,248,0.4); }

  #myTab a {
   color: black; }

  #club-name {
    font-size: 25px; }

  .top-players a {
    text-decoration: none; }

  .top-players .card-img-top {
    width:100%;
    height: 200px auto; }

  .top-players .card-img-id {
    max-height: 150px;
    overflow: hidden; }

  .top-players .card-block {
    color: black;
    text-align: center; }

  .fixtures, .formation {
    border-right: 1px ridge; }

  .teamplayerimage {
    border-radius: 20%; }

  .top-images {x
    border-radius: 50%; }

  .shootit {
    height: 30px; }

  .card {
    background-color: transparent;
    border: transparent; }

  .stats .card {
    width: 100% auto;
    border: 1px solid;
    border-color: black; }

  .stats .card-body {
    border-top: 1px solid;
    border-color: black; }

  .stats .card-block {
    text-align: center;
    font-size: larger; }

  /*#overview .container {
    background-color: rgba(248,248,248,0.4);
    color: black;
  }*/

  .tab-pane .container {
    background-color: rgba(248,248,248,0.4); 
    color: black; }

  #squadlist {
    width: 100%;
    padding: 0px }

  #squadlist li {
    display: inline-block;}

  #stat1,#stat2 {
    border-bottom: 1px ridge;
    border-color: black; }

  #squadcard {
    width: 267px;
    background-color: rgba(255,255,255,0.8);
    color: black;
    margin: 5px;
    padding: 0px; }

  #squadcard .card-block {
    padding-top: 0px; }

  #squadcard .card-title {
    text-align: center; }

  #squadcard .icon {
    height: 35px;
    margin: 10px; }

  /*#squadcard .card-img-top {
    margin: 0px;
  }*/

  #squad-img {
    height: 100px;
    max-height: 150px;
    width: 100px;
    margin-top: 15px; }

  .squadstat {
    display: inline-block;
    text-align-last: right; }

  /*#squadcard-img {*/
    /*max-height: 90px; }*/

  #squad-name {
    text-align: right; }

  .shortFixturesImg {
    height: 40px;
    margin: 5px; }

  #fullFixtures .card-title, #fullFixtures .card-block {
    text-align: center;
    font-size: 20px;
    font-weight: bold; }

  #pastFixtures .card-title, #pastFixtures .card-block {
    text-align: center;
    font-size: 20px;
    font-weight: bold; }

  .fullFixturesImg, .pastFixturesImg {
    height: 60px;
    margin: 5px; }

  #players {
    width: 100%;
    height: 70px;
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
    margin: 0px;
    margin-top: 20px;
    padding: 0px; }

  #players li {
    display: inline; }

  #nation {
    height: 13px;
    width: 20px; }

/* Player Page */
  #player-info .row-header{
    max-height: 275px;
    overflow: hidden; }

  #player-img {
    margin-top: 50px; }

  #details {
    margin-top: auto;
    margin-bottom: auto; }

  #number p {
    max-height: 275px;
    font-size: 200px; }

/* Social Icons */
  /*Change icons size here*/
  .social-icons .fa {
    font-size: 20px;
  }
  /*Change icons circle size and color here*/
    .social-icons .fa {
      width: 30px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      color: #FFF;
      color: rgba(255, 255, 255, 0.8);
      transition: all 0.3s ease-in-out;
    }

  .social-icons.icon-circle .fa{ 
    border-radius: 50%;
  }

  .social-icons .fa:hover, .social-icons .fa:active {
    color: #FFF;
    box-shadow: 1px 1px 3px #333; 
  }
 
  .social-icons .fa-facebook,.social-icons .fa-facebook-square{background-color:#3C599F;}  
  .social-icons .fa-instagram{background-color:#A1755C;}
  .social-icons .fa-twitter,.social-icons .fa-twitter-square{background-color:#32CCFE;} 
  .social-icons .fa-youtube-play{background-color:#C52F30;}