/*General*/
  .row-header {
    margin: 0px 0px;
    padding: 0px 0px;
    /*padding-bottom: 10px;*/ }

  .row-content {
    margin: 0px auto;
    padding: 50px 0px;
    /*border-bottom: 1px ridge;*/
    min-height: 400px; }

  .row-player {
    margin: 0px auto;
    max-height: 20px; }

  .footer {
    background-color: #D1C4E9;
    margin: 0px auto;
    padding: 20px 0px; }

  body {
    padding: 50px 0px 0px 0px;
    z-index: 0; 
    background-image: url("/img/background/field.jpeg");
    background-attachment: fixed; 
    background-position: center;
    color: white; }

/* Navbar */
  #plhead {
    font-size: 40px; }

  /* Team Logos */
    #teamLogos {
      margin-top: 10px;
      margin-bottom: -55px; }

    #team-logos li {
      display: inline; }

<<<<<<< HEAD
  #team-logos {
    width: 100%;
    height: 100px;
    overflow-y: hidden;
    white-space: nowrap; }
    
  .image:hover {
    transform: scale(1.5,1.5); }
=======
    #team-logos {
      /*width: 100%;*/
      height: 100px;
      white-space: nowrap; }
      
    .image:hover {
      transform: scale(1.5,1.5); }
>>>>>>> 2ec8e4b996ad22213b3a6134425ae9d7c2733b04

/* Home Page */
  .image {
    height: 45px;
    width: 45px;
    padding: 5px;
    position: relative; }

  #mySearch {
    margin: 0px auto;
    padding: 20px 0px; 
    border-bottom: 1px ridge; }

  #leagueTable {
    border-right: 1px ridge;  }

  #positions {
    min-width: 100px;
    width: 100%;
    background: floralwhite; 
    color: black;
    counter-reset: rowNumber - 1; }

  td {
    width: 50px; }

  td#col8{ 
    text-align: center;
    padding-right: 23px;
    width: 50px; }

  .first {
    width: 300px;
  }

  tr td:first-child::before {
    min-width: 1em;
    margin-right: 0.5em; }

  td:first-child::after {
    text-align: left;
  }


  td, th {
    /*text-align: center;*/
    border-bottom: 1px ridge lightgrey;
    margin: 0px auto;
    padding: 2px; }

  th {
    border-bottom: 1px ridge lightgrey; 
    background-color: lightblue; }

/* Team Page */
  .jumbotron {
    padding: 0px;
    background: transparent; }

  #info {
    width: 100%;
    /*height: 100px;*/
    /*max-height: auto;*/ }

  #team-badge {
    width: 130px;
    height: 130px;
    margin-top: auto;
    margin-bottom: auto; }

  .stadium-icon {
    filter: invert(100%);
    height: 15px; }

  #team-head {
    margin-top: auto;
    margin-bottom: auto; }

  #pitch {
    padding: 0px;
    height: 100%; }

  #teampitch { 
    height: 100%;
    width: 100%; 
    border-radius: 50% 0% 50% 0% }

  #team-background {
    border-right: 1px ridge; }

  #club-name {
    font-size: 25px; }

  .fixtures, .formation {
    border-right: 1px ridge; }
  
  #players li {
    display: inline; }

  .teamplayerimage {
    border-radius: 20%; }

  .top-images {x
    border-radius: 50%; }

  .shootit {
    height: 30px; }

  .card {
    background-color: transparent;
    border: transparent;
  }

  #players {
    width: 100%;
    height: 70px;
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap; }

  .tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px; }

/* Social Icons */
  /*Change icons size here*/
  .social-icons .fa {
    font-size: 20px;
  }
  /*Change icons circle size and color here*/
    .social-icons .fa {
      width: 30px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      color: #FFF;
      color: rgba(255, 255, 255, 0.8);
      transition: all 0.3s ease-in-out;
    }

  .social-icons.icon-circle .fa{ 
    border-radius: 50%;
  }

  .social-icons .fa:hover, .social-icons .fa:active {
    color: #FFF;
    box-shadow: 1px 1px 3px #333; 
  }
 
  .social-icons .fa-facebook,.social-icons .fa-facebook-square{background-color:#3C599F;}  
  .social-icons .fa-instagram{background-color:#A1755C;}
  .social-icons .fa-twitter,.social-icons .fa-twitter-square{background-color:#32CCFE;} 
  .social-icons .fa-youtube-play{background-color:#C52F30;}